In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../Datsaset/Bi and Tri Age2.csv')
df = df[df['Type'] == 'Total']
df = df[df['Age Group'] == 'Total']

df1 = pd.read_csv('../Dataset/Mono Gender.csv')
df1.head()

df = df.merge(df1,on = 'State Code', how = 'inner')
df.head(36)

,State Code,State Name_x,Type,Age Group,Two Total,Two Male,Two Female,Three Total,Three Male,Three Female,State Name_y,One Total,One Male,One Female
0,0,INDIA,Total,Total,228979190,126159551,102819639,86009580,50536832,35472748,INDIA,900585907.0,449368972.0,451216935.0
1,1,JAMMU & KASHMIR,Total,Total,4086970,2376063,1710907,2096220,1258756,837464,JAMMU & KASHMIR,6083823.0,2849087.0,3234736.0
2,2,HIMACHAL PRADESH,Total,Total,895419,483488,411931,347286,200478,146808,HIMACHAL PRADESH,5621897.0,2797907.0,2823990.0
3,3,PUNJAB,Total,Total,5205311,2900342,2304969,7829913,4383841,3446072,PUNJAB,14708114.0,7355282.0,7352832.0
4,4,CHANDIGARH,Total,Total,257941,144341,113600,321979,178557,143422,CHANDIGARH,475530.0,257765.0,217765.0
5,5,UTTARAKHAND,Total,Total,1569934,873233,696701,187822,109529,78293,UTTARAKHAND,8328536.0,4155011.0,4173525.0
6,6,HARYANA,Total,Total,4456790,2576417,1880373,1170571,681228,489343,HARYANA,19724101.0,10237089.0,9487012.0
7,7,DELHI,Total,Total,5458981,3050945,2408036,1358233,741513,616720,DELHI,26758668.0,14182194.0,12576474.0
8,8,RAJASTHAN,Total,Total,6466435,3747078,2719357,1006751,642842,363909,RAJASTHAN,61075251.0,31161077.0,29914174.0
9,9,UTTAR PRADESH,Total,Total,20287945,11762916,8525029,2585664,1546993,1038671,UTTAR PRADESH,173947922.0,89625793.0,84322129.0
10,10,BIHAR,Total,Total,15079213,8415020,6664193,1682572,1028475,654097,BIHAR,87337667.0,44834662.0,42503005.0
11,11,SIKKIM,Total,Total,207597,113913,93684,181402,99427,81975,SIKKIM,221578.0,109730.0,111848.0
12,12,ARUNACHAL PRADESH,Total,Total,467394,241747,225647,418551,236666,181885,ARUNACHAL PRADESH,497782.0,235499.0,262283.0
13,13,NAGALAND,Total,Total,692242,355306,336936,537481,306593,230888,NAGALAND,748779.0,362750.0,386029.0
14,14,MANIPUR,Total,Total,771802,404042,367760,616818,356245,260573,MANIPUR,1467174.0,678299.0,788875.0
15,15,MIZORAM,Total,Total,256737,139450,117287,52966,34714,18252,MIZORAM,787503.0,381175.0,406328.0
16,16,TRIPURA,Total,Total,1070024,584356,485668,198577,129143,69434,TRIPURA,2405316.0,1160877.0,1244439.0
17,17,MEGHALAYA,Total,Total,547389,280331,267058,274931,160749,114182,MEGHALAYA,2144569.0,1050752.0,1093817.0
18,18,ASSAM,Total,Total,10108094,5343117,4764977,4352497,2636287,1716210,ASSAM,16744985.0,7960039.0,8784946.0
19,19,WEST BENGAL,Total,Total,12144843,6992983,5151860,2881005,1789355,1091650,WEST BENGAL,76250267.0,38026689.0,38223578.0
20,20,JHARKHAND,Total,Total,8407681,4508254,3899427,1593039,965960,627079,JHARKHAND,21922358.0,10911690.0,11010668.0
21,21,ODISHA,Total,Total,8299746,4506387,3793359,5525278,3359211,2166067,ODISHA,28149194.0,13346538.0,14802656.0
22,22,CHHATTISGARH,Total,Total,2961654,1575471,1386183,422569,245150,177419,CHHATTISGARH,19879302.0,9853464.0,10025838.0
23,23,MADHYA PRADESH,Total,Total,8550729,4716569,3834160,1257953,758130,499823,MADHYA PRADESH,62818127.0,32137607.0,30680520.0
24,24,GUJARAT,Total,Total,17321770,9878480,7443290,8570571,5181262,3389309,GUJARAT,34547351.0,16431518.0,18115833.0
25,25,DAMAN & DIU,Total,Total,82027,49404,32623,34602,21856,12746,DAMAN & DIU,126618.0,79041.0,47577.0
26,26,DADRA & NAGAR HAVELI,Total,Total,127467,68955,58512,71516,44256,27260,DADRA & NAGAR HAVELI,144726.0,80549.0,64177.0
27,27,MAHARASHTRA,Total,Total,37695132,20579481,17115651,19724729,11455478,8269251,MAHARASHTRA,51159063.0,24257967.0,26901096.0
28,28,ANDHRA PRADESH,Total,Total,15238958,8357610,6881348,6344376,3836382,2507994,ANDHRA PRADESH,27803465.0,12544076.0,15259389.0
29,29,KARNATAKA,Total,Total,16420465,8513790,7906675,7832129,4519095,3313034,KARNATAKA,34665372.0,16822750.0,17842622.0
30,30,GOA,Total,Total,384903,192062,192841,741249,395322,345927,GOA,332393.0,151756.0,180637.0
31,31,LAKSHADWEEP,Total,Total,8572,4903,3669,9981,6435,3546,LAKSHADWEEP,255736.0,145418.0,110318.0
32,32,KERALA,Total,Total,4974574,2559063,2415511,3188813,1734057,1454756,KERALA,25242674.0,11734292.0,13508382.0
33,33,TAMIL NADU,Total,Total,17969107,9590729,8378378,2447163,1410192,1036971,TAMIL NADU,51730760.0,25137054.0,26593706.0
34,34,PUDUCHERRY,Total,Total,320627,172773,147854,71665,40809,30856,PUDUCHERRY,1097699.0,515881.0,581818.0
35,35,ANDAMAN & NICOBAR ISLANDS,Total,Total,184717,100532,84185,72708,41846,30862,ANDAMAN & NICOBAR ISLANDS,123156.0,60493.0,62663.0

In [8]:
df['2 to 1 ratio'] = np.round(df['Two Total'] / df['One Total'],4)

df2 = df.sort_values('2 to 1 ratio', ignore_index = True , ascending = False)[0:3]

df3 = df.sort_values('2 to 1 ratio', ignore_index = True , ascending = True)[0:3]

df2 = df2.append(df3)

df2.drop(['State Name_x','State Name_y','One Total','One Male','One Female','Type','Age Group','Two Total','Two Male','Two Female' , 'Three Total' , 'Three Male' , 'Three Female'], axis = 'columns' , inplace = True)

df2.to_csv('../Output/2-to-1-ratio.csv',index = False)