In [1]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('../Dataset/Agewise Census.csv',usecols=['State Code','State Name','Age Group','TOT_P'])

df.head(50)

    State Code        State Name       Age Group       TOT_P
0            0             INDIA           Total  1098048199
1            0             INDIA             5-9   126928126
2            0             INDIA           10-14   132709212
3            0             INDIA           15-19   120526449
4            0             INDIA           20-24   111424222
5            0             INDIA           25-29   101413965
6            0             INDIA           30-49   308492074
7            0             INDIA           50-69   152333999
8            0             INDIA             70+    39730350
9            0             INDIA  Age not stated     4489802
10           1   JAMMU & KASHMIR           Total    11126418
11           1   JAMMU & KASHMIR             5-9     1411973
12           1   JAMMU & KASHMIR           10-14     1413853
13           1   JAMMU & KASHMIR           15-19     1237462
14           1   JAMMU & KASHMIR           20-24     1160913
15           1   JAMMU & KASHMIR           25-29     1086122
16           1   JAMMU & KASHMIR           30-49     3069723
17           1   JAMMU & KASHMIR           50-69     1335288
18           1   JAMMU & KASHMIR             70+      395965
19           1   JAMMU & KASHMIR  Age not stated       15119
20           2  HIMACHAL PRADESH           Total     6319618
21           2  HIMACHAL PRADESH             5-9      591177
22           2  HIMACHAL PRADESH           10-14      639224
23           2  HIMACHAL PRADESH           15-19      640461
24           2  HIMACHAL PRADESH           20-24      643866
25           2  HIMACHAL PRADESH           25-29      589160
26           2  HIMACHAL PRADESH           30-49     1905011
27           2  HIMACHAL PRADESH           50-69      987526
28           2  HIMACHAL PRADESH             70+      313030
29           2  HIMACHAL PRADESH  Age not stated       10163
30           3            PUNJAB           Total    25609809
31           3            PUNJAB             5-9     2368019
32           3            PUNJAB           10-14     2583402
33           3            PUNJAB           15-19     2817683
34           3            PUNJAB           20-24     2776636
35           3            PUNJAB           25-29     2463861
36           3            PUNJAB           30-49     7481850
37           3            PUNJAB           50-69     3927197
38           3            PUNJAB             70+     1149639
39           3            PUNJAB  Age not stated       41522
40           4        CHANDIGARH           Total      973596
41           4        CHANDIGARH             5-9       91194
42           4        CHANDIGARH           10-14       93464
43           4        CHANDIGARH           15-19      104418
44           4        CHANDIGARH           20-24      121244
45           4        CHANDIGARH           25-29      110237
46           4        CHANDIGARH           30-49      303748
47           4        CHANDIGARH           50-69      123507
48           4        CHANDIGARH             70+       25438
49           4        CHANDIGARH  Age not stated         346

In [64]:
df1 = pd.read_csv('../Dataset/Bi and Tri Age2.csv', usecols=['State Code' , 'State Name' , 'Type' , 'Age Group' , 'Three Total'])

df1 = df1[df1['Type'] == 'Total']
df1.drop(df1.loc[df1['Age Group'] == 'Total'].index, inplace=True)
df1.drop(['Type'],axis='columns',inplace=True)
df1.head()

   State Code State Name Age Group  Three Total
1           0      INDIA       5-9      1844108
2           0      INDIA     10-14      7254335
3           0      INDIA     15-19     12626717
4           0      INDIA     20-24     12834334
5           0      INDIA     25-29     10857171

In [69]:
df2 = df.merge(df1,on=['State Code' , 'Age Group'],how='inner')

df2['percentage'] = np.round((df2['Three Total'] / df2['TOT_P'])*100,4)

df2.head(50)

,State Code,State Name_x,Age Group,TOT_P,State Name_y,Three Total,percentage
0,0,INDIA,5-9,126928126,INDIA,1844108,1.4529
1,0,INDIA,10-14,132709212,INDIA,7254335,5.4663
2,0,INDIA,15-19,120526449,INDIA,12626717,10.4763
3,0,INDIA,20-24,111424222,INDIA,12834334,11.5184
4,0,INDIA,25-29,101413965,INDIA,10857171,10.7058
5,0,INDIA,30-49,308492074,INDIA,27466884,8.9036
6,0,INDIA,50-69,152333999,INDIA,10916361,7.1661
7,0,INDIA,70+,39730350,INDIA,1954539,4.9195
8,0,INDIA,Age not stated,4489802,INDIA,255131,5.6825
9,1,JAMMU & KASHMIR,5-9,1411973,JAMMU & KASHMIR,73589,5.2118
10,1,JAMMU & KASHMIR,10-14,1413853,JAMMU & KASHMIR,222586,15.7432
11,1,JAMMU & KASHMIR,15-19,1237462,JAMMU & KASHMIR,339152,27.4071
12,1,JAMMU & KASHMIR,20-24,1160913,JAMMU & KASHMIR,343400,29.5802
13,1,JAMMU & KASHMIR,25-29,1086122,JAMMU & KASHMIR,271949,25.0385
14,1,JAMMU & KASHMIR,30-49,3069723,JAMMU & KASHMIR,607745,19.7980
15,1,JAMMU & KASHMIR,50-69,1335288,JAMMU & KASHMIR,202306,15.1507
16,1,JAMMU & KASHMIR,70+,395965,JAMMU & KASHMIR,33910,8.5639
17,1,JAMMU & KASHMIR,Age not stated,15119,JAMMU & KASHMIR,1583,10.4703
18,2,HIMACHAL PRADESH,5-9,591177,HIMACHAL PRADESH,6545,1.1071
19,2,HIMACHAL PRADESH,10-14,639224,HIMACHAL PRADESH,29483,4.6123
20,2,HIMACHAL PRADESH,15-19,640461,HIMACHAL PRADESH,51298,8.0095
21,2,HIMACHAL PRADESH,20-24,643866,HIMACHAL PRADESH,52839,8.2065
22,2,HIMACHAL PRADESH,25-29,589160,HIMACHAL PRADESH,45565,7.7339
23,2,HIMACHAL PRADESH,30-49,1905011,HIMACHAL PRADESH,112797,5.9211
24,2,HIMACHAL PRADESH,50-69,987526,HIMACHAL PRADESH,40987,4.1505
25,2,HIMACHAL PRADESH,70+,313030,HIMACHAL PRADESH,7396,2.3627
26,2,HIMACHAL PRADESH,Age not stated,10163,HIMACHAL PRADESH,376,3.6997
27,3,PUNJAB,5-9,2368019,PUNJAB,182720,7.7162
28,3,PUNJAB,10-14,2583402,PUNJAB,737273,28.5388
29,3,PUNJAB,15-19,2817683,PUNJAB,1289483,45.7639
30,3,PUNJAB,20-24,2776636,PUNJAB,1267339,45.6430
31,3,PUNJAB,25-29,2463861,PUNJAB,1002556,40.6904
32,3,PUNJAB,30-49,7481850,PUNJAB,2322915,31.0473
33,3,PUNJAB,50-69,3927197,PUNJAB,881384,22.4431
34,3,PUNJAB,70+,1149639,PUNJAB,137067,11.9226
35,3,PUNJAB,Age not stated,41522,PUNJAB,9176,22.0991
36,4,CHANDIGARH,5-9,91194,CHANDIGARH,8546,9.3712
37,4,CHANDIGARH,10-14,93464,CHANDIGARH,27428,29.3461
38,4,CHANDIGARH,15-19,104418,CHANDIGARH,41223,39.4788
39,4,CHANDIGARH,20-24,121244,CHANDIGARH,46022,37.9582
40,4,CHANDIGARH,25-29,110237,CHANDIGARH,37130,33.6820
41,4,CHANDIGARH,30-49,303748,CHANDIGARH,97908,32.2333
42,4,CHANDIGARH,50-69,123507,CHANDIGARH,52830,42.7749
43,4,CHANDIGARH,70+,25438,CHANDIGARH,10827,42.5623
44,4,CHANDIGARH,Age not stated,346,CHANDIGARH,65,18.7861
45,5,UTTARAKHAND,5-9,1058801,UTTARAKHAND,4215,0.3981
46,5,UTTARAKHAND,10-14,1145343,UTTARAKHAND,15904,1.3886
47,5,UTTARAKHAND,15-19,1124110,UTTARAKHAND,29527,2.6267
48,5,UTTARAKHAND,20-24,970068,UTTARAKHAND,30022,3.0948
49,5,UTTARAKHAND,25-29,810184,UTTARAKHAND,22692,2.8008

In [70]:
data ={}
df4 = pd.DataFrame()

for i in range(36):
    
    df3 = df2[df2['State Code'] == i]
    
    data['State Code'] = i
    v = df3.iloc[df3.percentage.argmax(),0:7].to_numpy().tolist()
    
    data['percentage'] = v[6]
    data['age-group'] = v[2]
    
    df4 =df4.append(data,ignore_index = True)
    
df4.head(50)

df4.to_csv('../Output/age-india.csv',index = False)