In [9]:
import pandas as pd
import numpy as np

from scipy import stats

In [2]:
df = pd.read_csv('../Datset/Census2.csv')

df1 = pd.read_csv('../Dataset/Bi and Tri Age2.csv')
df1 = df1[df1['Type']=='Total']
df1 = df1[df1['Age Group']=='Total']

In [3]:
data ={}
df3 = pd.DataFrame()
for i in df['State Code'] :
    data['State Code'] = i     
    data['male-percentage'] = np.round((df1[df1['State Code']== i]['Three Male'].iloc[0]/df[df['State Code'] == i]['TOT_M'].iloc[0])*100,4)
    data['female-percentage'] = np.round((df1[df1['State Code']== i]['Three Female'].iloc[0] / df[df['State Code'] == i]['TOT_F'].iloc[0])*100,4)
    stat, pval = proportions_ztest(count = np.abs(data['male-percentage']-data['female-percentage']), nobs = max(data['male-percentage'],data['female-percentage']),value = 0)
    data['p-value'] = np.round(pval,4)
    ##print(pval)
    df3 = df3.append(data,ignore_index=True)

df3 = df3[['State Code', 'male-percentage' , 'female-percentage' , 'p-value']]
df3.to_csv('../Output/gender-india.csv',index=False)

In [4]:
data ={}
df3 = pd.DataFrame()
for i in df['State Code'] :
    data['State Code'] = i     
    data['male-percentage'] = np.round((df1[df1['State Code']== i]['Three Male'].iloc[0]/df[df['State Code'] == i]['TOT_M'].iloc[0])*100,4)
    data['female-percentage'] = np.round((df1[df1['State Code']== i]['Three Female'].iloc[0] / df[df['State Code'] == i]['TOT_F'].iloc[0])*100,4)
    stat, pval = proportions_ztest(count = np.abs(data['male-percentage']-data['female-percentage']), nobs =min(data['male-percentage'],data['female-percentage']),value = 0)
    data['p-value'] = np.round(pval,4)
    ##print(pval)
    df3 = df3.append(data,ignore_index=True)
    
df3 = df3[['State Code', 'male-percentage' , 'female-percentage' , 'p-value']]
df3.to_csv('../Output/gender-india2.csv',index=False)

In [5]:
data ={}
df3 = pd.DataFrame()
for i in df['State Code'] :
    data['State Code'] = i     
    data['male-percentage'] = np.round((df1[df1['State Code']== i]['Three Male'].iloc[0]/df[df['State Code'] == i]['TOT_M'].iloc[0])*100,4)
    data['female-percentage'] = np.round((df1[df1['State Code']== i]['Three Female'].iloc[0] / df[df['State Code'] == i]['TOT_F'].iloc[0])*100,4)
    stat, pval = proportions_ztest(count = np.abs(data['male-percentage']-data['female-percentage']), nobs =100,value = 0)
    data['p-value'] = np.round(pval,4)
    ##print(pval)
    df3 = df3.append(data,ignore_index=True)
    
df3 = df3[['State Code', 'male-percentage' , 'female-percentage' , 'p-value']]
df3.to_csv('../Output/gender-india_2.csv',index=False)

In [3]:
df.head()

   State Code        State Name       TOT_P      TOT_M      TOT_F
0           0             INDIA  1215574677  626065355  589509322
1           1   JAMMU & KASHMIR    12267013    6483906    5783107
2           2  HIMACHAL PRADESH     6864602    3481873    3382729
3           3            PUNJAB    27743338   14639465   13103873
4           4        CHANDIGARH     1055450     580663     474787

In [5]:
df1.head()

,State Code,State Name,Type,Age Group,Two Total,Two Male,Two Female,Three Total,Three Male,Three Female
0,0,INDIA,Total,Total,228979190,126159551,102819639,86009580,50536832,35472748
30,1,JAMMU & KASHMIR,Total,Total,4086970,2376063,1710907,2096220,1258756,837464
60,2,HIMACHAL PRADESH,Total,Total,895419,483488,411931,347286,200478,146808
90,3,PUNJAB,Total,Total,5205311,2900342,2304969,7829913,4383841,3446072
120,4,CHANDIGARH,Total,Total,257941,144341,113600,321979,178557,143422

In [15]:
df2 = df1.merge(df,on='State Code',how='inner')
df2['male-to-female-ratio-2'] = np.round(df2['Two Male']/ df2['Two Female'],4)
df2['male-to-female-ratio-3'] = np.round(df2['Three Male']/ df2['Three Female'],4)
df2['male-to-female-ratio-1'] = np.round((df2['TOT_M']-df2['Two Male']-df2['Three Male'])/ (df2['TOT_F']-df2['Two Female']-df2['Three Female']),4)
df2['male-percentage'] = np.round((df2['Three Male'] / df2['TOT_M'])*100,4)
df2['female-percentage'] = np.round((df2['Three Female'] / df2['TOT_F'])*100,4)
df2['male-to-female'] = np.round(df2['TOT_M']/df2['TOT_F'],4)
df2['t-test'],df2['p-value'] = stats.ttest_1samp([df2['male-to-female-ratio-3'],df2['male-to-female-ratio-2'],df2['male-to-female-ratio-1']],df2['male-to-female'])

print(df2.shape)
df2.head(50)

(36, 22)

,State Code,State Name_x,Type,Age Group,Two Total,Two Male,Two Female,Three Total,Three Male,Three Female,...,TOT_M,TOT_F,male-to-female-ratio-2,male-to-female-ratio-3,male-to-female-ratio-1,male-percentage,female-percentage,male-to-female,t-test,p-value
0,0,INDIA,Total,Total,228979190,126159551,102819639,86009580,50536832,35472748,...,626065355,589509322,1.2270,1.4247,0.9959,8.0721,6.0173,1.0620,1.241771,0.340192
1,1,JAMMU & KASHMIR,Total,Total,4086970,2376063,1710907,2096220,1258756,837464,...,6483906,5783107,1.3888,1.5031,0.8808,19.4135,14.4812,1.1212,0.713024,0.549800
2,2,HIMACHAL PRADESH,Total,Total,895419,483488,411931,347286,200478,146808,...,3481873,3382729,1.1737,1.3656,0.9908,5.7578,4.3399,1.0293,1.362219,0.306257
3,3,PUNJAB,Total,Total,5205311,2900342,2304969,7829913,4383841,3446072,...,14639465,13103873,1.2583,1.2721,1.0003,29.9454,26.2981,1.1172,0.675417,0.569036
4,4,CHANDIGARH,Total,Total,257941,144341,113600,321979,178557,143422,...,580663,474787,1.2706,1.2450,1.1837,30.7505,30.2077,1.2230,0.391749,0.733045
5,5,UTTARAKHAND,Total,Total,1569934,873233,696701,187822,109529,78293,...,5137773,4948519,1.2534,1.3990,0.9956,2.1318,1.5822,1.0382,1.507502,0.270687
6,6,HARYANA,Total,Total,4456790,2576417,1880373,1170571,681228,489343,...,13494734,11856728,1.3702,1.3921,1.0791,5.0481,4.1271,1.1381,1.411225,0.293642
7,7,DELHI,Total,Total,5458981,3050945,2408036,1358233,741513,616720,...,17974652,15601230,1.2670,1.2023,1.1277,4.1253,3.9530,1.1521,1.165325,0.364072
8,8,RAJASTHAN,Total,Total,6466435,3747078,2719357,1006751,642842,363909,...,35550997,32997440,1.3779,1.7665,1.0417,1.8082,1.1028,1.0774,1.518365,0.268242
9,9,UTTAR PRADESH,Total,Total,20287945,11762916,8525029,2585664,1546993,1038671,...,102935702,93885829,1.3798,1.4894,1.0629,1.5029,1.1063,1.0964,1.675845,0.235758
10,10,BIHAR,Total,Total,15079213,8415020,6664193,1682572,1028475,654097,...,54278157,49821295,1.2627,1.5724,1.0549,1.8948,1.3129,1.0895,1.377881,0.302154
11,11,SIKKIM,Total,Total,207597,113913,93684,181402,99427,81975,...,323070,287507,1.2159,1.2129,0.9811,30.7757,28.5123,1.1237,0.166299,0.883213
12,12,ARUNACHAL PRADESH,Total,Total,467394,241747,225647,418551,236666,181885,...,713912,669815,1.0714,1.3012,0.8979,33.1506,27.1545,1.0658,0.208618,0.854064
13,13,NAGALAND,Total,Total,692242,355306,336936,537481,306593,230888,...,1024649,953853,1.0545,1.3279,0.9397,29.9218,24.2058,1.0742,0.288058,0.800411
14,14,MANIPUR,Total,Total,771802,404042,367760,616818,356245,260573,...,1438586,1417208,1.0987,1.3672,0.8598,24.7636,18.3864,1.0151,0.637750,0.588909
15,15,MIZORAM,Total,Total,256737,139450,117287,52966,34714,18252,...,555339,541867,1.1890,1.9019,0.9381,6.2510,3.3684,1.0249,1.101899,0.385380
16,16,TRIPURA,Total,Total,1070024,584356,485668,198577,129143,69434,...,1874376,1799541,1.2032,1.8599,0.9329,6.8899,3.8584,1.0416,1.055072,0.402029
17,17,MEGHALAYA,Total,Total,547389,280331,267058,274931,160749,114182,...,1491832,1475057,1.0497,1.4078,0.9606,10.7753,7.7409,1.0114,0.936394,0.447921
18,18,ASSAM,Total,Total,10108094,5343117,4764977,4352497,2636287,1716210,...,15939443,15266133,1.1213,1.5361,0.9061,16.5394,11.2419,1.0441,0.777429,0.518266
19,19,WEST BENGAL,Total,Total,12144843,6992983,5151860,2881005,1789355,1091650,...,46809027,44467088,1.3574,1.6391,0.9948,3.8227,2.4550,1.0527,1.489335,0.274841
20,20,JHARKHAND,Total,Total,8407681,4508254,3899427,1593039,965960,627079,...,16385904,15537174,1.1561,1.5404,0.9910,5.8951,4.0360,1.0546,1.072596,0.395705
21,21,ODISHA,Total,Total,8299746,4506387,3793359,5525278,3359211,2166067,...,21212136,20762082,1.1880,1.5508,0.9016,15.8363,10.4328,1.0217,1.020904,0.414687
22,22,CHHATTISGARH,Total,Total,2961654,1575471,1386183,422569,245150,177419,...,11674085,11589440,1.1366,1.3818,0.9828,2.1000,1.5309,1.0073,1.375113,0.302874
23,23,MADHYA PRADESH,Total,Total,8550729,4716569,3834160,1257953,758130,499823,...,37612306,35014503,1.2301,1.5168,1.0475,2.0156,1.4275,1.0742,1.395502,0.297618
24,24,GUJARAT,Total,Total,17321770,9878480,7443290,8570571,5181262,3389309,...,31491260,28948432,1.3272,1.5287,0.9070,16.4530,11.7081,1.0878,0.909173,0.459227
25,25,DAMAN & DIU,Total,Total,82027,49404,32623,34602,21856,12746,...,150301,92946,1.5144,1.7147,1.6613,14.5415,13.7133,1.6171,0.217640,0.847896
26,26,DADRA & NAGAR HAVELI,Total,Total,127467,68955,58512,71516,44256,27260,...,193760,149949,1.1785,1.6235,1.2551,22.8406,18.1795,1.2922,0.438027,0.704135
27,27,MAHARASHTRA,Total,Total,37695132,20579481,17115651,19724729,11455478,8269251,...,56292926,52285998,1.2024,1.3853,0.9017,20.3498,15.8154,1.0766,0.613811,0.601855
28,28,ANDHRA PRADESH,Total,Total,15238958,8357610,6881348,6344376,3836382,2507994,...,24738068,24648731,1.2145,1.5297,0.8221,15.5080,10.1749,1.0036,0.904702,0.461113
29,29,KARNATAKA,Total,Total,16420465,8513790,7906675,7832129,4519095,3313034,...,29855635,29062331,1.0768,1.3640,0.9428,15.1365,11.3998,1.0273,0.809442,0.503251
30,30,GOA,Total,Total,384903,192062,192841,741249,395322,345927,...,739140,719405,0.9960,1.1428,0.8401,53.4840,48.0852,1.0274,-0.393996,0.731623
31,31,LAKSHADWEEP,Total,Total,8572,4903,3669,9981,6435,3546,...,156756,117533,1.3363,1.8147,1.3182,4.1051,3.0170,1.3337,0.959807,0.438433
32,32,KERALA,Total,Total,4974574,2559063,2415511,3188813,1734057,1454756,...,16027412,17378649,1.0594,1.1920,0.8687,10.8193,8.3709,0.9222,1.255822,0.336008
33,33,TAMIL NADU,Total,Total,17969107,9590729,8378378,2447163,1410192,1036971,...,36137975,36009055,1.1447,1.3599,0.9452,3.9022,2.8798,1.0036,1.222070,0.346164
34,34,PUDUCHERRY,Total,Total,320627,172773,147854,71665,40809,30856,...,729463,760528,1.1685,1.3226,0.8867,5.5944,4.0572,0.9592,1.306475,0.321426
35,35,ANDAMAN & NICOBAR ISLANDS,Total,Total,184717,100532,84185,72708,41846,30862,...,202871,177710,1.1942,1.3559,0.9654,20.6269,17.3665,1.1416,0.266888,0.814555