In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('../Dataset/Literacy Total.csv')

df.head(50)

,State Code,State Name,Educational level,TOT_P,TOT_M,TOT_F
0,0,INDIA,Illiterate,447216165,188506636,258709529
1,0,INDIA,Literate but below primary,146897597,78445099,68452498
2,0,INDIA,Primary but below middle,184170833,99311072,84859761
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463
5,0,INDIA,Graduate and above,68288971,42120460,26168511
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445
18,3,PUNJAB,Illiterate,9036201,4203409,4832792
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376
23,3,PUNJAB,Graduate and above,1760846,873776,887070
24,4,CHANDIGARH,Illiterate,250012,115317,134695
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721
29,4,CHANDIGARH,Graduate and above,194453,104748,89705
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220
36,6,HARYANA,Illiterate,8752474,3700667,5051807
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343
41,6,HARYANA,Graduate and above,1877085,1102809,774276
42,7,DELHI,Illiterate,4050174,1792470,2257704
43,7,DELHI,Literate but below primary,1458061,796975,661086
44,7,DELHI,Primary but below middle,2230894,1197622,1033272
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162
47,7,DELHI,Graduate and above,2757844,1535972,1221872
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309

In [7]:
df1 = pd.read_csv('../Dataset/Bi and Tri Literacy2.csv', usecols=['State Code' , 'State Name' , 'Educational level' , 'Three Total'])


df1.head()

   State Code State Name                    Educational level  Three Total
0           0      INDIA                           Illiterate      3879858
1           0      INDIA           Literate but below primary      3733616
2           0      INDIA             Primary but below middle      8636296
3           0      INDIA    Middle but below matric/secondary     10743350
4           0      INDIA  Matric/Secondary but below graduate     33899219

In [12]:
df2 = df.merge(df1,on=['State Code' , 'Educational level'],how='inner')

df2['percentage'] = np.round((df2['Three Total'] / df2['TOT_P'])*100,4)

df2.head(50)

,State Code,State Name_x,Educational level,TOT_P,TOT_M,TOT_F,State Name_y,Three Total,percentage
0,0,INDIA,Illiterate,447216165,188506636,258709529,INDIA,3879858,0.8676
1,0,INDIA,Literate but below primary,146897597,78445099,68452498,INDIA,3733616,2.5416
2,0,INDIA,Primary but below middle,184170833,99311072,84859761,INDIA,8636296,4.6893
3,0,INDIA,Middle but below matric/secondary,133903266,77629578,56273688,INDIA,10743350,8.0232
4,0,INDIA,Matric/Secondary but below graduate,192193344,116331881,75861463,INDIA,33899219,17.6381
5,0,INDIA,Graduate and above,68288971,42120460,26168511,INDIA,22146543,32.4306
6,1,JAMMU & KASHMIR,Illiterate,5474069,2375991,3098078,JAMMU & KASHMIR,132783,2.4257
7,1,JAMMU & KASHMIR,Literate but below primary,987774,541130,446644,JAMMU & KASHMIR,102814,10.4087
8,1,JAMMU & KASHMIR,Primary but below middle,1285909,719512,566397,JAMMU & KASHMIR,196414,15.2743
9,1,JAMMU & KASHMIR,Middle but below matric/secondary,1666381,1015129,651252,JAMMU & KASHMIR,348840,20.9340
10,1,JAMMU & KASHMIR,Matric/Secondary but below graduate,2244013,1443868,800145,JAMMU & KASHMIR,836020,37.2556
11,1,JAMMU & KASHMIR,Graduate and above,653764,401279,252485,JAMMU & KASHMIR,440542,67.3855
12,2,HIMACHAL PRADESH,Illiterate,1824866,729283,1095583,HIMACHAL PRADESH,4813,0.2637
13,2,HIMACHAL PRADESH,Literate but below primary,611475,326058,285417,HIMACHAL PRADESH,10061,1.6454
14,2,HIMACHAL PRADESH,Primary but below middle,1162995,576764,586231,HIMACHAL PRADESH,31722,2.7276
15,2,HIMACHAL PRADESH,Middle but below matric/secondary,826611,452919,373692,HIMACHAL PRADESH,47855,5.7893
16,2,HIMACHAL PRADESH,Matric/Secondary but below graduate,1852386,1076380,776006,HIMACHAL PRADESH,178135,9.6165
17,2,HIMACHAL PRADESH,Graduate and above,446609,251164,195445,HIMACHAL PRADESH,68109,15.2503
18,3,PUNJAB,Illiterate,9036201,4203409,4832792,PUNJAB,139464,1.5434
19,3,PUNJAB,Literate but below primary,2227684,1273936,953748,PUNJAB,277578,12.4604
20,3,PUNJAB,Primary but below middle,4288200,2273540,2014660,PUNJAB,765038,17.8405
21,3,PUNJAB,Middle but below matric/secondary,3066305,1747063,1319242,PUNJAB,1112074,36.2676
22,3,PUNJAB,Matric/Secondary but below graduate,6755536,3945160,2810376,PUNJAB,4039592,59.7968
23,3,PUNJAB,Graduate and above,1760846,873776,887070,PUNJAB,1349723,76.6520
24,4,CHANDIGARH,Illiterate,250012,115317,134695,CHANDIGARH,3167,1.2667
25,4,CHANDIGARH,Literate but below primary,90869,51211,39658,CHANDIGARH,12238,13.4677
26,4,CHANDIGARH,Primary but below middle,130243,73645,56598,CHANDIGARH,23074,17.7161
27,4,CHANDIGARH,Middle but below matric/secondary,111879,67964,43915,CHANDIGARH,26943,24.0823
28,4,CHANDIGARH,Matric/Secondary but below graduate,265112,161391,103721,CHANDIGARH,118884,44.8429
29,4,CHANDIGARH,Graduate and above,194453,104748,89705,CHANDIGARH,135080,69.4667
30,5,UTTARAKHAND,Illiterate,3205339,1274065,1931274,UTTARAKHAND,4772,0.1489
31,5,UTTARAKHAND,Literate but below primary,1034583,554430,480153,UTTARAKHAND,7136,0.6897
32,5,UTTARAKHAND,Primary but below middle,1550574,803056,747518,UTTARAKHAND,14621,0.9429
33,5,UTTARAKHAND,Middle but below matric/secondary,1406871,806770,600101,UTTARAKHAND,22254,1.5818
34,5,UTTARAKHAND,Matric/Secondary but below graduate,1815486,1105814,709672,UTTARAKHAND,69376,3.8213
35,5,UTTARAKHAND,Graduate and above,910288,512068,398220,UTTARAKHAND,65932,7.2430
36,6,HARYANA,Illiterate,8752474,3700667,5051807,HARYANA,20108,0.2297
37,6,HARYANA,Literate but below primary,2473145,1403012,1070133,HARYANA,28461,1.1508
38,6,HARYANA,Primary but below middle,3772022,2075334,1696688,HARYANA,97673,2.5894
39,6,HARYANA,Middle but below matric/secondary,2705282,1557670,1147612,HARYANA,150432,5.5607
40,6,HARYANA,Matric/Secondary but below graduate,5343778,3426435,1917343,HARYANA,511698,9.5756
41,6,HARYANA,Graduate and above,1877085,1102809,774276,HARYANA,338620,18.0397
42,7,DELHI,Illiterate,4050174,1792470,2257704,DELHI,13588,0.3355
43,7,DELHI,Literate but below primary,1458061,796975,661086,DELHI,39831,2.7318
44,7,DELHI,Primary but below middle,2230894,1197622,1033272,DELHI,73971,3.3158
45,7,DELHI,Middle but below matric/secondary,1931411,1099958,831453,DELHI,97060,5.0253
46,7,DELHI,Matric/Secondary but below graduate,3891873,2316711,1575162,DELHI,423330,10.8773
47,7,DELHI,Graduate and above,2757844,1535972,1221872,DELHI,659504,23.9138
48,8,RAJASTHAN,Illiterate,30273155,11862585,18410570,RAJASTHAN,32157,0.1062
49,8,RAJASTHAN,Literate but below primary,8083827,4423518,3660309,RAJASTHAN,31773,0.3930

In [14]:
data ={}
df4 = pd.DataFrame()

for i in range(36):
    
    df3 = df2[df2['State Code'] == i]
    
    data['State Code'] = i
    v = df3.iloc[df3.percentage.argmax(),0:].to_numpy().tolist()
    
    data['percentage'] = v[8]
    data['literacy-group'] = v[2]
    
    df4 =df4.append(data,ignore_index = True)
    
df4.head(50)

df4.to_csv('../Output/literacy-india.csv',index = False)